<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="./static/styles.css" />
    <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="./static/app.js" defer></script>
     -->
     <meta http-equiv="refresh" content="1, url=http://localhost:3000/index.html"/>
  </head>

  <body>
   
    <!--
    <h1>loading...</h1>
    
   
    <li><a href="http://localhost:3000/index.html">file</a></li>
    -->
  </body>
</html>